.emptyWrapper {
   display: flex;

   flex: 1 1 auto;
   align-items: center;
   justify-content: center;
}

.emptyInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > p {
   font-size: 14px;
   text-align: center;

   @media screen and (width >= 768px) {
      font-size: 20px;
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px 8px;

  @media screen and (width >= 768px) {
    gap: 40px 20px;
  }
}
