.page {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 16px;

    @media screen and (width >= 768px) {
        padding: 24px;
    }

    @media screen and (width >= 1024px) {
        max-width: 1184px;
        padding: 44px;
    }
}